body {
    background-color: #c9c9c9;
  /*  font-family: Impact, Charcoal, sans-serif;*/
    font-size: 15px;
}

div.encounter {
    border-style: inset;
}

select.encounter {
    width: 180px;
}

button.encounter {
    display: block;
    margin: 0 auto; /* auto left/right margins */
    margin-top: 10px;
}

div.wrapper {
    overflow: hidden;
}

div.dice {
    border-style: inset;
    width: 15%;
    float: left;
}

div.diceKeyboard {
    border: inset;
    overflow: hidden;
}

button.dice {
    display: inline;
}

div.monster {
    border-style: inset;
}

div.music {
    border-style: inset;
    width: 40%;
    float: right;
}

div.SCWidget {
	float:left;
	padding-right:5px;
}
